*{
    color:white;
    font-family: 'Nunito', sans-serif;
}

body{
    margin: 0;
    padding:0;
    width: 100%;
    height: auto;
    background-image:linear-gradient( #163b43, rgb(127, 99, 177));
}
.fg-img{
    
}
.contact-cont{
    margin: 0;
    padding: 0;
    width: 100%;
}
 form{
    height: 70%;
    padding: 0 1em;
    text-align: center;
 } 
 form section{
    display: flex;
    flex-direction:column;
   
 } 
 .in-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 label{
    width: 200px;
    padding: 0.7rem;
    text-align: left;
 }
 .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
 }
 .checkbox label{
    width: 500px;
    padding: 1rem;
 }
 button{
    padding: 0.7rem;
    width: 200px;
    color:black;
    font-weight: 900;
    border-radius: 5px;
    border: none;
 }
 button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red;
    color:white;
    background-color: red;
 }
.navbar{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-family: 'DM Serif Display', serif;
}

.navbar ul li{
    width: 100px;
    padding: 0.5rem;
}
.navbar ul li:hover{
    border: 0.3px solid white;
    border-radius: 10px;
    width: 98px; /*just so it matches the li width and not move the others*/
}
    input, select, textarea{
        color: rgb(34, 28, 28);
        width: 500px;
        border:none;
        border-radius: 5px;
        padding: 0.8rem;
        margin: 5px;
    }
    input:focus, textarea:focus{
        outline: 2px solid red;
    }
.routes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50px;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
   
}

footer{
    width: 100%;
    height: 180px;
    padding: 1rem 0;
    background-color: #020d26;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div5-sec p{
    width: 500px;
}
.socmed-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.p-footer{
    padding-bottom: 1em;
}
.socmed-icons a i {
    font-size: 30px;
}
.socmed-icons a i:hover{
    color:rgba(22, 115, 237, 0.899);
}
